<template>
  <div class="students-page py-5">
      <h1 class="cyan--text text--lighten-2">Students</h1>
    <v-row class="mt-5">
      <v-col v-for="student in students" :key="student.username" lg="3">
        <v-card class="text-center px-3 py-6">
          <v-avatar>
            <img :src="student.image" />
          </v-avatar>
          <h4 class="mt-6">
            {{ student.name }}
          </h4>
          <p class="grey--text text-body-2 mt-2 mb-5">{{ student.username }}</p>
          <v-btn
            router
            :to="{ name: 'UserView', params: { id: student.username } }"
            small
            dark
            outlined
            color="cyan lighten-2"
            >show profile</v-btn
          >
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import users from "../data/users.js";

export default {
  name: "TeachersView",
  data: () => ({
    users,
    students: [],
  }),
  beforeMount() {
    this.students = this.users.filter((user) => {
      return user.role === "student";
    });
  },
};
</script>

<style>

</style>