<template>
  <div class="teachers-page py-5">
    <h1 class="deep-purple--text text--accent-1">Teachers</h1>
    <v-row class="mt-5">
      <v-col v-for="teacher in teachers" :key="teacher.username" lg="3">
        <v-card class="text-center px-3 py-6">
          <v-avatar>
            <img :src="teacher.image" />
          </v-avatar>
          <h4 class="mt-6">
            {{ teacher.name }}
          </h4>
          <p class="grey--text text-body-2 mt-2 mb-5">{{ teacher.username }}</p>
          <v-btn
            router
            :to="{ name: 'UserView', params: { id: teacher.username } }"
            small
            dark
            outlined
            color="deep-purple accent-1"
            >show profile</v-btn
          >
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import users from "../data/users.js";

export default {
  name: "TeachersView",
  data: () => ({
    users,
    teachers: [],
  }),
  beforeMount() {
    this.teachers = this.users.filter((user) => {
      return user.role === "teacher";
    });
  },
};
</script>

<style scoped>
</style>
