<template>
  <!-- <h1>user {{$route.params.id}}</h1> -->
  <div class="user-section py-5">
    <v-row>
      <v-col>
        <v-btn
          @click="$router.go(-1)"
          depressed
          text
          :color="
            user.role === 'teacher' ? 'deep-purple accent-1' : 'cyan lighten-2'
          "
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="mb-12">
      <v-col lg="2" md="3" sm="3">
        <v-avatar size="168">
          <img
            :class="user.role === 'teacher' ? 'teacher-img' : 'student-img'"
            :src="user.image"
            alt=""
          />
        </v-avatar>
      </v-col>
      <v-col lg="3" class="d-flex flex-column justify-center">
        <h1>{{ user.name }}</h1>
        <h3 class="grey--text mt-2">@{{ user.username }}</h3>
      </v-col>
    </v-row>

    <!-- user details -->
    <v-row class="px-4 mt-5">
      <v-col>
        <!-- role -->
        <v-row>
          <v-chip
            outlined
            :color="
              user.role === 'teacher'
                ? 'deep-purple accent-1'
                : 'cyan lighten-2'
            "
            ><v-icon
              :color="
                user.role === 'teacher'
                  ? 'deep-purple accent-1'
                  : 'cyan lighten-2'
              "
              >mdi-account-multiple</v-icon
            ><span class="ml-1">{{ user.role }}</span></v-chip
          >
        </v-row>
        <!-- email -->
        <v-row>
          <v-chip
          class="white mt-5"
            outlined
            ><v-icon
              :color="
                user.role === 'teacher'
                  ? 'deep-purple accent-1'
                  : 'cyan lighten-2'
              "
              >mdi-email</v-icon
            ><span class="ml-1">{{ user.email }}</span></v-chip
          >
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import users from "../data/users.js";

export default {
  data: () => ({
    users,
    user: {},
  }),
  beforeMount() {
    this.user = this.users.find((user) => {
      return user.username === this.$route.params.id;
    });
    console.log(this.$route.params.id);
  },
};
</script>

<style scoped>
.teacher-img {
  border: 4px solid #b388ff;
  padding: 6px;
}
.student-img {
  border: 4px solid #4dd0e1;
  padding: 6px;
}
</style>