<template>
  <div class="users-page">
    <v-row class="pa-3 mt-5 mb-0">
      <v-col>
        <v-btn
          @click="sortUsers('name')"
          dark
          depressed
          small
          color="deep-purple accent-1"
        >
          <v-icon class="mr-1" small>mdi-account-search</v-icon>
          Sort By Name
        </v-btn>
        <v-btn
          @click="sortUsers('role')"
          outlined
          small
          class="ml-3"
          color="cyan lighten-2"
        >
          <v-icon small class="mr-1">mdi-account-star-outline</v-icon>
          sort by role</v-btn
        >
      </v-col>
    </v-row>
    <v-card flat class="pa-3 hidden-xs-only">
      <v-row>
        <v-col lg="3" class="caption grey--text"> Username </v-col>
        <v-col lg="2" class="caption grey--text"> Name </v-col>
        <v-col lg="6" class="caption grey--text"> Email </v-col>
        <v-col lg="1" class="caption grey--text"> Role </v-col>
      </v-row>
    </v-card>
    <v-divider></v-divider>
    <v-card
      flat
      v-for="user in users"
      :key="user.username"
      :class="user.role === 'teacher' ? 'teacher-card' : 'student-card'"
      class="user-card pa-3 rounded-0"
    >
      <v-row hover class="user-box py-1">
        <v-col lg="3" md="">
          <router-link
            :to="{ name: 'UserView', params: { id: user.username } }"
          >
            {{ user.username }}
          </router-link>
        </v-col>
        <v-col lg="2" md=""> {{ user.name }} </v-col>
        <v-col lg="6" md=""> {{ user.email }} </v-col>
        <v-col lg="1" md="">
          <v-chip
            dark
            small
            :color="
              user.role === 'teacher'
                ? 'deep-purple accent-1'
                : 'cyan lighten-2'
            "
            >{{ user.role }}</v-chip
          >
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import users from "../data/users.js";

export default {
  name: "Home",
  data: () => ({
    users,
  }),
  methods: {
    sortUsers(prop) {
      this.users.sort((a, b) => (a[prop] < b[prop] ? -1 : 1));
    },
  },
  components: {},
};
</script>

<style scoped>
.user-card {
  border-bottom: 1px solid rgba(214, 214, 214, 0.471);
}
.user-box:hover {
  background-color: rgba(229, 229, 229, 0.402);
}
.teacher-card {
  border-left: 4px solid #b388ff;
}
.student-card {
  border-left: 4px solid #4dd0e1;
}
</style>
