<template>
  <nav>
    <v-app-bar app color="header grey lighten-4" dark flat>
      <v-container class="d-flex align-center">
        <v-app-bar-nav-icon
          @click="drawer = !drawer"
          class="mr-2"
          light
        ></v-app-bar-nav-icon>
        <v-toolbar-title class="text-uppercase grey--text">
          <span class="font-weight-light">SCHOOL</span>
          <span>PROFILE</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-avatar>
          <img src="../assets/avatar.png" alt="" />
        </v-avatar>
      </v-container>
    </v-app-bar>
    <v-navigation-drawer flat color="deep-purple accent-1" app v-model="drawer">
      <div class="header__close-nav-icon">
        <v-icon
          @click="drawer = !drawer"
          class="ml-3 my-4 close-drawer cursor-pointer white--text darken-5"
          >mdi-close-box</v-icon
        >
      </div>
      <v-list rounded>
        <v-list-item
          v-for="nav in navigations"
          :key="nav.title"
          class="drawer-item text-no-wrap white--text"
          router
          :to="nav.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{nav.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> {{nav.title}} </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  name: "Header",

  data: () => ({
    drawer: true,
    navigations: [
      { title: "Users", icon: "mdi-account-group", route: "/" },
      { title: "Teachers", icon: "mdi-human-male-board", route: "/teachers" },
      { title: "Students", icon: "mdi-account", route: "/students" },
    ],
  }),
};
</script>

<style scoped>
.close-drawer:hover {
  transform: scale(1.2);
}
</style>
