<template>
  <v-app>
    <Header/>
    <v-main class="d-flex justify-center">
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',

  data: () => ({
    //
  }),
  components: {Header}
};
</script>

<style>
</style>
